
/*mobile view*/

@media (max-width: 767px) {
    body { font-size: 14px; line-height: 20px}
    h1, h2, h3, h4, h5, h6 {margin:0 0 17px; padding:0; letter-spacing: 0; font-weight: 400;}
    h1 {font-size:37px; line-height: 42px;}
    h2 {font-size:30px; line-height:36px}
    h3 {font-size:28px; line-height:34px}
    h4 {font-size:24px; line-height:30px}
    h5 {font-size:20px; line-height:28px}
    h6 {font-size:18px; line-height:23px} 
/*navbar*/
}
